html {
  /* background-color: #dfe3e6; */
}
body {
  /* background: #dfe3e6; */
}
.account {
  text-align: left;
}
.error {
  color: crimson;
}
.white {
  color: white !important;
}

.App {
  max-width: 600px;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.root {
  overflow: hidden;
}

.padding-t-24 {
  padding-top: 24px;
}
.padding-l-24 {
  padding-left: 24px;
}
